.team-img-container
{
    width: 100%;
    height: 100vh; /* Set the initial height to the full viewport height */
    background-image: url('../images/gallery/vector.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 3s;
}
/*.team-img{*/
/*    width: 100%;*/
/*    height: auto;*/
/*    background-image: url('../images/gallery/vector.jpg');*/
/*    background-size: contain;*/
/*    background-position: center center;*/
/*    background-repeat: no-repeat;*/
/*    transition: 3s;*/
/*}*/
header
{
    background: initial; /* Or you can simply remove this line */
    background: white;
    top: 0;
    position: static !important;
}
body{
    background: initial !important;
}
.text-black
{
    color: black !important;
}
footer
{
    margin-top: 100px !important;
}
.bottom-fixed {
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 35px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
    color: white;

}



